<div class="row">

      <div style="margin-top: 10px;" class="col s9">
        <scheduler></scheduler>
      </div>

      <div class="col s3">
        <app-sources></app-sources>
      </div>

</div>
