<div materialize class="section-bar col-s12">
  <div class="row source-container">
    <div class="col s12 source-header">
      <span>
        <h5 class="center-align orange-text text-darken-2">{{sourceSectionTitle}}</h5>
      </span>
      <span>
      <a href="#modal-add-source" (click)="emptySource();" class="btn-floating btn-medium waves-effect waves-light orange add-source-btn"><i class="material-icons">add</i></a>
    </span>
      <ul class="tabs">
        <li class="tab col s6"><a href="#liveTab">LIVE</a></li>
        <li class="tab col s6"><a href="#vodTab">VOD</a></li>
      </ul>
    </div>
    <div id="liveTab" class="col s12 source-wrapper">
      <div class="row">
        <div class="col s6" *ngFor="let source of liveSources;">
          <div data-sourceid="" class="card blue-grey darken-1">
            <div class="card-content white-text">
              <a class="waves-effect waves-light right source-info"><i class="material-icons tiny activator">info</i></a>
              <span class="card-title">{{source.title}}</span>
            </div>
            <div class="card-action white-text">
              <span>{{source.meta.duration}}</span>
              <a href="#modal-edit-source" (click)="currentSource=source" class="waves-effect waves-light right"><i class="material-icons">edit</i></a>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4 card-reveal-title">More Info<i class="material-icons tiny right">close</i></span>
              <p class="card-reveal-body">Created: {{source.created_at | date : 'shortDate'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="vodTab" class="col s12 source-wrapper">
      <div class="row">
        <div class="col s6" *ngFor="let source of vodSources">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <a class="waves-effect waves-light right source-info"><i class="material-icons tiny activator">info</i></a>
              <span class="card-title">{{source.title}}</span>
            </div>
            <div class="card-action white-text">
              <span>{{source.meta.duration}}</span>
              <a href="#modal-edit-source" (click)="currentSource=source" class="waves-effect waves-light right"><i class="material-icons">edit</i></a>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4 card-reveal-title">More Info<i class="material-icons tiny right">close</i></span>
              <p class="card-reveal-body">Created: {{source.created_at | date : 'shortDate'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Add Source Modal Structure -->
  <div id="modal-add-source" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="col s12">
        <div class="col s11">
          <h4>Add New Source</h4>
        </div>
        <div class="col s1">
          <a (click)="emptySource();" class="btn-floating btn-large btn-flat right modal-close waves-effect waves-orange"><i class="material-icons orange-text lighten-3">close</i></a>
        </div>
      </div>
      <div class="col s12">
        <div class="col s6">
          <label>Source Title:</label> <input placeholder="My Title" [(ngModel)]="currentSource.title" #title />
        </div>
        <div class="col s6">
          <form action="#">
            <label>Source Type:</label>
            <p>
            <input #liveRadio class="with-gap" [(ngModel)]="currentSource.type" value="live" name="group1" type="radio" id="liveRadio"  />
            <label for="liveRadio">Live</label>
            <input class="with-gap" name="group1" [(ngModel)]="currentSource.type" value="vod" type="radio" id="vodRadio"  />
            <label for="vodRadio">VOD</label>
            </p>
          </form>
        </div>
      </div>
      <div class="col s12">
        <div class="col s6">
          <label>Source duration:</label> <input placeholder="14:52" [(ngModel)]="currentSource.meta.duration" #duration />
        </div>
        <div class="col s6">
          <label>Source url:</label> <input placeholder="http://myvideo.url.com" [(ngModel)]="currentSource.meta.url" #url />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="createSource();" class="btn waves-effect waves-light">Add Event
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
  <!--Edit Source Modal Structure -->
  <div id="modal-edit-source" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="col s12">
        <div class="col s11">
          <h4>Edit Source</h4>
        </div>
        <div class="col s1">
          <a (click)="emptySource();" class="btn-floating btn-large btn-flat right modal-close waves-effect waves-orange"><i class="material-icons orange-text lighten-3">close</i></a>
        </div>
      </div>
      <div class="col s12">
        <div class="col s6">
          <label>Source Title:</label> <input placeholder="My Title" [(ngModel)]="currentSource.title" #title />
        </div>
        <div class="col s6">
          <form action="#">
            <label>Source Type:</label>
            <p>
            <input #liveRadio class="with-gap" [(ngModel)]="currentSource.type" value="live" name="group1" type="radio" id="liveRadio"  />
            <label for="liveRadio">Live</label>
            <input class="with-gap" name="group1" [(ngModel)]="currentSource.type" value="vod" type="radio" id="vodRadio"  />
            <label for="vodRadio">VOD</label>
            </p>
          </form>
        </div>
      </div>
      <div class="col s12">
        <div class="col s6">
          <label>Source duration:</label> <input placeholder="14:52" [(ngModel)]="currentSource.meta.duration" #duration />
        </div>
        <div class="col s6">
          <label>Source url:</label> <input placeholder="http://myvideo.url.com" [(ngModel)]="currentSource.meta.url" #url />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="updateSource(); title.value='';duration.value='';url.value=''" class="btn waves-effect waves-light">Update Event
        <i class="material-icons right">send</i>
      </button>
      <button data-target="deleteSource" class="btn waves-effect waves-light">Delete Event
        <i class="material-icons right">delete</i>
      </button>
    </div>
  </div>
  <!-- Delete Source Modal Structure -->
  <div id="deleteSource" class="modal">
    <div class="modal-content">
      <h4>Delete Source</h4>
      <p>Are you sure you want to delete this source? You will not be able to recover it.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" (click)="deleteSource(currentSource);" class=" modal-action modal-close waves-effect waves-red btn-flat red">Delete</a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>
</div>
