
.add-source-btn {
  position: absolute;
  top: 10%;
  left: 95%;
}
.card-content, .card-action, .card-reveal {
  padding: 10px;
}
.card .card-content .card-title {
  font-size: 14px;
  line-height: 16px;
}
.card-reveal-body {
  font-size:12px;
}
.card-reveal-title {
  font-size: 16px;
}
.source-container {
  height:725px;
  border: solid orange 1px;
  margin-top: 10px;
}
.source-header {
  background-color: #fff
}
.source-info {
  position: absolute;
  top: 5px;
  right: 5px;
  color: orange;
}
.source-wrapper {
  height: 620px;
  overflow: scroll;
  background-color: #fff3e0;
}
.tabs {
  background-color: transparent;
  margin-bottom:5px;
}
